




/* Index page entering site */
p.enter { font-family: Futura, "Trebuchet MS", Arial, sans-serif;
    font-size: 14px;
    font-size-adjust:auto;
	font-style: bold;
	font-variant: normal;
	font-weight: 100;
    color: black;
    text-align:center;
    opacity: 0;
}

#enter-pic{
    position:fixed; 
    width:400px; 
    height:274px;
    top:25%; 
    left:calc(50% - 200px);
}

#enter-pic.med{
    width:300px; 
    height:205px;
    left:calc(50% - 150px);  
}

#enter-pic.small{
    width:200px; 
    height:137px;
    left:calc(50% - 100px);  
}






p.coffee { font-family: Futura, "Trebuchet MS", Arial, sans-serif;
    font-size: 14px;
    font-size-adjust:auto;
	font-style: bold;
	font-variant: normal;
	font-weight: 100;
    color: dimgray;
    text-align:center;
    opacity: 0.9;
}

#coffee{
    position:fixed; 
    width:400px; 
    bottom:75%; 
    left:calc(50% - 200px);  
}


#coffee.med{
    width:300px; 
    left:calc(50% - 150px);    
}


#coffee.small{
    width:200px;
    left:calc(50% - 100px); 
}








#menu-button{
    width:50px;
    top:-4px;
    right:40px;
    position:fixed;
    opacity: 0;
    z-index:10;
}
#menu-button.notyetclicked{
    
}

p.menu{display: block;
    text-decoration: none;
    font-size:25px;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    color: black;
    text-align:right;
}

/* Change the link color on hover */
p.menu:hover {
    color: palevioletred;
    font-family: 'Lato', sans-serif;
    cursor:pointer;
}



/* Home page */

#container{     
    position: fixed;
    width: 100%;
    height: 100%;
    top:0;
    left:0;
}

.box-container{
    position:absolute;
    min-width:240px;
}

.box{
    width:200px;
    height:200px;
    background-color: none;
    float:left;
    margin-left:20px;
    margin-right:20px;
    margin-bottom:20px;
}

.box2{
    width:200px;
    height:200px;
    background-color: none;
    float:left;
    margin-left:20px;
    margin-right:20px;
    margin-bottom:20px;
}

.box3{
    width:200px;
    height:200px;
    background-color: none;
    float:left;
    margin-left:20px;
    margin-right:20px;
    margin-bottom:20px;
}

.box4{
    width:200px;
    height:200px;
    background-color: none;
    float:left;
    margin-left:20px;
    margin-right:20px;
    margin-bottom:20px;
}



.content{
    position: absolute;
    width:100%;
    height:100%;
    max-height:200px;
}
.content a{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-decoration: none; /* No underlines on the link */
    z-index: 10; /* Places the link above everything else in the div */
    background-color: #FFF; /* Fix to make div clickable in IE */
    opacity: 0; /* Fix to make div clickable in IE */
    filter: alpha(opacity=1);
}


#home-box-container{
    margin:20px;
    top:40px;
    left:20px;
    right:20px;
    bottom:90px;
    min-height:200px;
    background-color: none;
    overflow: scroll;
}







#box1{
    background-image:url("../img/square-08.png");
    background-size:cover;
    width:inherit;
    height:inherit;
}
#box2{
    background-image:url("../img/squares-15.png");
    background-size:cover;
    width:inherit;
    height:inherit;
}
#box3{
    background-image:url("../img/squarea1-02.png");
    background-size:cover;
    width:inherit;
    height:inherit;
}
#box4{
    background-image:url("../img/squaret-02.png");
    background-size:cover;
    width:inherit;
    height:inherit;
}
#box5{
    background-image:url("../img/square-14.png");
    background-size:cover;
    width:inherit;
    height:inherit;
    
}


.box-txt{
    bottom:0px;
    left:15px;
    position:absolute;
    opacity:1;
}

.box-txt.hovered{
    opacity:0;
}

.box-date{
    bottom:0px;
    left:15px;
    position:absolute;
}


#home-button{ 
    width:180px;
    z-index: 4;
    position: absolute;
    left:60px;
    bottom:60px;
}

#about-me{
    left:calc(100% - 740px);
    right:60px;
    bottom:40px;
    position:absolute;
    padding:10px;
    
}



a.noChange:link {
    text-decoration: none;
    font-size:25px;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    color: black;
    text-align:left;
    
}
a.noChange:visited {
    text-decoration: none;
    font-size:25px;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    color: black;
    text-align:left;
    
}
a.noChange:hover {
    text-decoration: none;
    font-size:25px;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    color: palevioletred;
    text-align:left;
}


p.boxLink {
    text-decoration: none;
    font-size:22px;
    font-family: 'Lato', sans-serif;
    font-weight: 100;
    color: white;
    text-align:left;
    
}

p.dateTxt {
    text-decoration: none;
    font-size:15px;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    color: white;
    text-align:left;
}








/* Projects page */

.empty-box-border{
    width:200px;
    height:200px;
    /*border: 2px solid lightgray;*/
    background-color: #D7DBDD;
    position:absolute;
}

.empty-box-border2{
    width:200px;
    height:200px;
    /*border: 2px solid lightgray;*/
    background-color: #D7DBDD;
    position:absolute;
}

.empty-box-border4{
    width:200px;
    height:200px;
    /*border: 2px solid lightgray;*/
    background-color: #D7DBDD;
    position:absolute;
}

#projects-box-container{
    
    margin:20px;
    top:40px;
    right:160px;
    left:20px;
    height:calc(100% - 60px);
    background-color: none;
    overflow: scroll;
    
}


ul {
    list-style-type: none;
    margin: 10px;
    padding: 20px;
    background-color: white;
    position: fixed;
    height:100%;
    right: 0px;
    top:40px;
    z-index: 3;
    
}

li a {
    display: block;
    text-decoration: none;
    font-size:25px;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    color: black;
    text-align:right;
}
li a.pink{
    color:palevioletred;
}

/* Change the link color on hover */
li a:hover {
    color: palevioletred;
    font-family: 'Lato', sans-serif;
    cursor:pointer;
}


p{
    color:dimgray;
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
    font-size: 14px;
    font-size-adjust:auto;
	font-style: normal;
	font-variant: normal;
	font-weight: lighter;
    text-align: justify;
    line-height: auto;
}





.written-content{
    width:460px;
    height:auto;
    min-height:440px;
    background-color:white;
    z-index:-3;
    position:absolute;
    opacity:1;
    padding-left:20px;
    padding-right:20px;
    box-sizing: border-box;
    opacity:0;
}

.written-content.clicked{
    opacity:1;
    z-index:3;
}
.written-content.left{
    right:-4px;
}

.written-content.top{
    bottom:-4px;
}

.content-noa{
    position: absolute;
    width:100%;
    height:100%;
    max-height:200px;
}

a.txt-link{
    font-family:inherit;
    font-size:inherit;
    font-weight:inherit;
    color:black;
}

a.txt-link:hover{
    text-decoration:none;
    color:palevioletred;
}
a.txt-link:visited{
    color:black;
}


#boxmusic{
    background-image:url("../img/square8-08.png");
    background-size:cover;
    width:inherit;
    height:inherit;   
}
#boxquad{
    background-image:url("../img/squares4-04.png");
    background-size:cover;
    width:inherit;
    height:inherit;   
}

#boxrobot{
    background-image:url("../img/square-20.png");
    background-size:cover;
    width:inherit;
    height:inherit;   
}
#boxproj{
    background-image:url("../img/square8-02.png");
    background-size:cover;
    width:inherit;
    height:inherit;   
}







/* Work */

#boxpm{
    background-image:url("../img/squarepm-02.png");
    background-size:cover;
    width:inherit;
    height:inherit;   
}
#boxlloyd{
    background-image:url("../img/squares2-07.png");
    background-size:cover;
    width:inherit;
    height:inherit;   
}

#boxscot{
    background-image:url("../img/squarepur1-02.png");
    background-size:cover;
    width:inherit;
    height:inherit;   
}
#boxrobot2{
    background-image:url("../img/squarebulb2-02.png");
    background-size:cover;
    width:inherit;
    height:inherit;   
}






/* Volunteering */

#boxtoucan{
    background-image:url("../img/square-10.png");
    background-size:cover;
    width:inherit;
    height:inherit;   
}
#boxhungry{
    background-image:url("../img/squaress-06.png");
    background-size:cover;
    width:inherit;
    height:inherit;   
}

#boxted{
    background-image:url("../img/squaress-02.png");
    background-size:cover;
    width:inherit;
    height:inherit;   
}
#boxnature{
    background-image:url("../img/square2-20.png");
    background-size:cover;
    width:inherit;
    height:inherit;   
}
#boxoxfam{
    background-image:url("../img/squaress-01.png");
    background-size:cover;
    width:inherit;
    height:inherit;   
}

#boxbb{
    background-image:url("../img/squaress-04.png");
    background-size:cover;
    width:inherit;
    height:inherit;   
}
#boxsrobot{
    background-image:url("../img/square-15.png");
    background-size:cover;
    width:inherit;
    height:inherit;   
}
#boxcons{
    background-image:url("../img/squares-11.png");
    background-size:cover;
    width:inherit;
    height:inherit;   
}

#boxjol{
    background-image:url("../img/squares-17.png");
    background-size:cover;
    width:inherit;
    height:inherit;   
}


/* play */

#about-me-play{
    left:calc(100% - 740px);
    right:170px;
    bottom:140px;
    position:absolute;
    padding:10px;
    
}

p.playTxt{
    text-decoration: none;
    font-size:38px;
    font-family: 'Lato', sans-serif;
    font-weight: 100;
    color: white;
    text-align:left;
}

#playbox1{
    background-image:url("../img/squarep-04.png");
    background-size:cover;
    width:inherit;
    height:inherit;   
}
#playbox2{
    background-image:url("../img/squarep-05.png");
    background-size:cover;
    width:inherit;
    height:inherit;   
}
#playbox3{
    background-image:url("../img/squarep-06.png");
    background-size:cover;
    width:inherit;
    height:inherit;   
}
#playbox4{
    background-image:url("../img/squarep-07.png");
    background-size:cover;
    width:inherit;
    height:inherit;   
}
#playbox5{
    background-image:url("../img/flickr2.png");
    background-size:cover;
    width:inherit;
    height:inherit;   
}
#playbox5.hover{
    background-image:url("../img/flickr2.png");
}

#playbox6{
    background-image:url("../img/purple2-01.png");
    background-size:cover;
    width:inherit;
    height:inherit;   
}

#playbox6.hover{
    background-image:url("../img/purple2-01.png");
}

#playbox7{
    background-image:url("../img/yellow-01.png");
    background-size:cover;
    width:inherit;
    height:inherit;   
}
#playbox7.hover{
    background-image:url("../img/yellow-01.png");
}


/* contact */

#fancy{
    opacity:0.9;
}
#contact-box-container{
    margin:20px;
    top:40px;
    left:20px;
    right:20px;
    bottom:90px;
    min-height:200px;
    background-color: none;
    overflow: scroll;
}


h1{
    text-decoration: none;
    font-size:35px;
    font-family: 'Gloria Hallelujah', cursive;
    font-weight: 300;
    color: white;
    text-align:center;
}

#finger-button {
    position:absolute; 
    left:calc(50% - 90px); 
    top:calc(20% + 20px); 
    width:300px}
#finger {
    position:absolute; 
    left:calc(10% + 300px); 
    top:calc(20% + 130px); 
    width:320px}
#contact1 {
    position:absolute; 
    left:10%; 
    top:20%; 
    width:600px}





p.colum{
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
    font-size: 12px;
    font-size-adjust:auto;
	font-style: bold;
	font-variant: normal;
	font-weight: 100;
    color: black;
    text-align:center;
    opacity: 0;
}







/* processing */

.processing-div{
    margin:20px;
    float:left;
    width:auto;
}


#processing-container{
    position:fixed;
    top:40px;
    bottom:20px;
    width:100%;
    overflow: scroll;
    height:calc(100% - 60px);
}




/* about */
p.about{
    color:dimgray;
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
    font-size: 14px;
    font-size-adjust:auto;
	font-style: normal;
	font-variant: normal;
	font-weight: lighter;
    text-align: justify;
    line-height: auto;
}

#about-container{
    position:absolute; 
    top:400px; 
    width:820px; 
    left:calc(50% - 410px);
}


#face{
    top:10px; left:calc(50% - 200px); width:400px; height:400px; margin:0px; position:absolute;
}







/* small things*/

@media screen and (max-width: 1180px ){
    #home-button{ left:40px; bottom:30px;}
    a.noChange{font-size: 18px;}
    p.boxLink{font-size:16px; font-weight:300;}
    .box-txt{left:5px; bottom:-5px;}
    #play-fill{width:150px; height:150px;}
    .box{width:150px; height:150px;}
    .box2{width:150px; height:150px;}
    .box3{width:150px; height:150px;}
    .box4{width:150px; height:150px;}
    .empty-box-border4{width:150px; height:150px;}
    .empty-box-border2{width:150px; height:150px;}
    .empty-box-border{width:150px; height:150px;}
    p.playTxt{font-size:30px;}
    a {font-size: 22px}
    .written-content{width:350px; min-height:330px;}
    p{font-size: 11px;}
    #home-box-container{top:20px; bottom:50px; left:20px; right:20px;}
    #projects-box-container{right:170px}
    
}


@media screen and (max-width: 990px){
    .box4{width:0px; height:0px; margin:0}
    .empty-box-border4{width:0; height:0;}
    #projects-box-container{right:160px}
    #about-container{width:710px; left:calc(50% - 365px);}
    p.about{font-size: 12px;}
}

@media screen and (max-width: 980px) and (max-height: 550px){
    .box3{width:0px; height:0px; margin:0}
    .empty-box-border2{width:0; height:0;}
}

@media screen and (max-width: 795px){
    #projects-box-container{left:10px; right:10px; }
    #home-box-container{top:20px; bottom:50px; left:0px; right:0px;}
    li a {font-size: 22px}
    #about-container{width:500px; left:calc(50% - 250px); top:300px;}
    p.about{font-size: 11px;}
    #face{left:calc(50% - 150px); width:300px; height:300px;}
    
}

@media screen and (max-width: 680px){
    .box3{width:0px; height:0px; margin:0}
    .empty-box-border2{width:0; height:0;}
}


@media screen and (max-width: 540px ){
    .empty-box-border{width:0px; height:0px;}
    #home-box-container{top:0px; bottom:40px; left:0px; right:0px;}
    .box2{width:0px; height:0px; margin:0;}
    .box{margin:10px;}
    li a {font-size: 21px}
    .written-content{width:330px; min-height:330px;}
    #projects-box-container{left:0; right:0; }
    #home-button{ left:20px; bottom:4%;}
    #about-container{width:350px; left:calc(50% - 175px);}
    p.about{font-size: 10px;}
}



@media screen and (max-width: 450px ){
    li a {font-size: 20px}
    ul {width:150px;}
    p.menu{font-size: 22px}
    
    p.enter{font-size:12px;}
    p.colum{font-size:10px;}
    #about-container{width:80%; left:10%; top:270px;}
    #face{left:calc(50% - 125px); width:250px; height:250px;}
   
}

@media screen and (max-height: 300px ){
    #home-button{ opacity:0}
    #home-box-container{ bottom:0px; }
}

@media screen and (max-width: 380px ){
    .box{width:100px; height:100px;}
    .written-content{width:230px; min-height:230px;}
    p.boxLink{font-size:13px; font-weight:300;}
    p{font-size: 10px;}
     p.playTxt{font-size:20px; font-weight:300;}
    
    p.enter{font-size:10px; opacity:1}
    p.colum{font-size:8px;}
}


.small-box{
    width:100px;
    height:100px;
}


